.bg-dark {
    background-color: #9E9E9E!important;
    border: 2px solid black;
    padding: 0;
}
.navbar-dark .navbar-brand {
    color: #0c0c0c;
    font-size: 30px;
    font-weight: bold;
}
.navbar-dark .navbar-nav .nav-link {
    background: white;
    color: black;
    font-weight: bold;
    text-align: center;
    border: 1px solid black;
}
h1{
	text-align: center;
	margin: 50px;
}
h4{
	text-align: center;
	background: gray;
	color: black;
	margin: 0;
}

.text{
	background: gray;
	color: black;
	padding: 5px;
	font-weight: bold;
}
a{
	color: blue;
}